<div class="explorer">
  <div class="slideBanner">
    <h6>42 Transcendence</h6>
    <p>///////</p>
    <h6>{{ toYouByStr }}</h6>
    <a href="https://arctiagames.com/">Vincenzo Gavioli</a>
    <a href="https://github.com/atavico">Alessandro Tarsi</a>
    <a href="https://github.com/kzak01">Kevin Zak</a>
    <a href="https://github.com/emabondi">Emanuele Bondi</a>
    <a href="https://marco177171.github.io">Marco Sebastiani</a>
    <p>///////</p>
    <h6>{{ tecnologiesStr }}</h6>
    <p>BACKEND: Django</p>
    <p>FRONTEND: Angular.js</p>
    <p>CONTAINERS: Docker</p>
    <p>ELK: {{ elkStr }}</p>
    <p>VAULT: {{ vaultStr }}</p>
    <p>MOD SECURITY: {{ modSecStr }}</p>
    <h6>{{ featuresStr }}</h6>
    <p>OAUTH: {{ oauthStr }}</p>
    <p>REMOTE PLAYERS: {{ remoteStr }}</p>
    <p>SERVER SIDE GAME: {{ serverSideStr }}</p>
    <p>BLOCKCHAIN: {{ blockStoredStr }}</p>
    <h6>{{ thanksStr }} :)</h6>
    <h6>42 Transcendence</h6>
    <p>///////</p>
    <h6>{{ toYouByStr }}</h6>
    <a href="https://arctiagames.com/">Vincenzo Gavioli</a>
    <a href="https://github.com/atavico">Alessandro Tarsi</a>
    <a href="https://github.com/kzak01">Kevin Zak</a>
    <a href="https://github.com/emabondi">Emanuele Bondi</a>
    <a href="https://marco177171.github.io">Marco Sebastiani</a>
    <p>///////</p>
    <h6>{{ tecnologiesStr }}</h6>
    <p>BACKEND: Django</p>
    <p>FRONTEND: Angular.js</p>
    <p>CONTAINERS: Docker</p>
    <p>ELK: {{ elkStr }}</p>
    <p>VAULT: {{ vaultStr }}</p>
    <p>MOD SECURITY: {{ modSecStr }}</p>
    <h6>{{ featuresStr }}</h6>
    <p>OAUTH: {{ oauthStr }}</p>
    <p>REMOTE PLAYERS: {{ remoteStr }}</p>
    <p>SERVER SIDE GAME: {{ serverSideStr }}</p>
    <p>BLOCKCHAIN: {{ blockStoredStr }}</p>
    <h6>{{ thanksStr }} :)</h6>
  </div>
</div>
