* {
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	display: none;
}

:root {
	--Blue: #003E4A;
	--Ocra: #4A4300;
	--Red: #4A001F;
	--Azure: #65B9C9;
	--Yellow: #C9C065;
	--Rose: #9F3561;
	--SkyGradient: linear-gradient(45deg, #003E4A, #65B9C9);
	--HotGradient: linear-gradient(45deg, #C9C065, #9F3561);
	--RomanticGradient: linear-gradient(45deg, #9F3561, #4A4300);
	--RomanticCentralGradient: linear-gradient(45deg, #9F3561, #4A4300,#9F3561);
	--SunnyGradient: linear-gradient(45deg, #65B9C9,  #C9C065);
	--GrayGradient: linear-gradient(45deg, #030303, #272727);
	/* --SkyGradient: linear-gradient(45deg, #003E4A, #65B9C9, #003E4A); */
	--g1: #030303;
	--g2: #060606;
	--g3: #090909;
	--g4: #121212;
	--g5: #151515;
	--g6: #181818;
	--g7: #212121;
	--g8: #242424;
	--g9: #272727;
	--g10: #808080;
}

@font-face {
	font-family: cpmono;
	src: url(assets/fonts/cpmono/CPMono_v07Light.otf);
}

@font-face {
	font-family: gravity;
	src: url(assets/fonts/gravity/Gravity-Light.otf);
}

@font-face {
	font-family: lane;
	src: url(assets/fonts/lane/LANENAR_.ttf);
}

body {
	margin: 0px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar, main::-webkit-scrollbar, .chat::-webkit-scrollbar, .sideBarSub::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

h1, h2, h3, h4, h5, h6 {
	font-family: cpmono;
	margin: 8px;
	cursor: default;
}

p, a, label, span, li, .error {
	margin: 8px;
	font-size: 1em;
}
p, label, li {
	font-family: gravity;
	cursor: default;
  /* font-weight: bold; */
}
span, a, ul, details {
	font-family: cpmono;
}

h1 {font-size: 2em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6, .error {font-size: 1em;}

.error {
	color: white;
	text-decoration: underline;
	text-decoration-color: red;
}

a {
	color: var(--aleAzure);
	text-decoration: underlilne;
	margin-top: 0px;
	margin-bottom: 0px;
}

a:hover {text-decoration: underline;}

@media only screen and (max-width: 800px) {
	h1 {font-size: 1.5em;}
	h2 {font-size: 1.4em;}
	h3 {font-size: 1.3em;}
	h4 {font-size: 1.2em;}
	h5 {font-size: 1.1em;}
	h6, error {font-size: 1em;}
}

input {
	background-color: white;
	color: var(--g1);
	font-family: cpmono;
	border: none;
	border-radius: 4px;
	width: 100%;
	padding: 4px;
	margin: 4px auto;
	font-size: 1em;
}

input::file-selector-button {
	-webkit-appearance: none;
    color: black;
	background-color: white;
	font-family: cpmono;
    margin-right: 8px auto;
	border: 1px solid black;
}

input[type="range"] {
	-webkit-appearance: none;
	height: 2px;
	border: none;
	background-color: white;
}
  
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 4px;
	background: var(--g10);
	cursor: ew-resize;
	transition: background .3s ease-in-out;
}
  
input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="color"] {-webkit-appearance: none;}
input[type="color"]::-webkit-color-swatch {border: none;}
input[type="color"]::-webkit-color-swatch-wrapper {padding: 0px;}

header, nav, main, .explorer {
	position: fixed;
	left: 0px;
	right: 0px;
}

header {
	top: 0px;
	left: 0px;
	height: 80px;
	background: var(--GrayGradient);
	color: white;
	padding-left: 8px;
	padding-right: 8px;
}

nav {
	top: 80px;
	right: 0px;
	height: 20;
	padding-left: 8px;
	padding-right: 8px;
	color: black;
	background: var(--GrayGradient);
	border-bottom: 1px solid white;
	a {
		color: white;
	}
}
/* 
nav a {
	color: white;
} */

main {
	top: 80px;
	padding: 8px;
	bottom: 20px;
	background: var(--GrayGradient);
	overflow-y: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.mainMenu, .mainMenuFullHeight {
	position: fixed;
	top: 80px;
	left: 220px;
	right: 0px;
	padding: 8px;
	bottom: 20px;
	color: white;
	overflow-y: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sideBar {
	position: fixed;
	padding: 8px;
	margin: 8px;
	width: 212px;
	top: 80px;
	left: 0px;
	bottom: 20px;
	background-color: var(--GrayGradient);
	border: 1px solid white;
	color: white;
	display: inline;
	overflow-y: auto;
	border-radius: 16px;
}

@media only screen and (max-width: 800px) {
	.sideBar {
		display: none;
	}
	.mainMenu, .mainMenuFullHeight {
		left: 0px;
	}
	.mainMenu {
		top: 128px;
		bottom: 69px;
	}
}

.topPanel, .bottomPanel {
	position: fixed;
	background-color: var(--g3);
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	color: white;
	left: 0px;
	right: 0px;
}

.topPanel {
	top: 76px;
}

.bottomPanel {
	bottom: 20px;
}

@media only screen and (min-width: 800px) {
	.bottomPanel, .topPanel {
		display: none;
	}
}

.sideBarBottom {
	position: absolute;
	bottom: 0px;
	left: 8px;
	right: 8px;
	margin: 4px auto;
}

.sideBarSub {
	position: absolute;
	color: white;
	left: 8px;
	right: 8px;
	bottom: 106px;
	top: 250px;
	overflow-y: auto;
}

.explorer {
	background: var(--g1);
	color: white;
	bottom: 0px;
	height: 20px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: right;
	border-top: 1px solid white;
}

@keyframes slide_animation {
	0% {transform: translate3d(0, 0, 0);}
	100% {transform: translate3d(-50%, 0, 0);}
}

.slideBanner {
	display: flex;
	width: 12000px;
	justify-content: space-around;
	animation: slide_animation 80s linear infinite;
	* {
		margin: 0px;
	}
}
/* 
.explorer a {
	color: white;
} */

@keyframes slide_animation {
	0% {transform: translate3d(0, 0, 0);}
	100% {transform: translate3d(-50%, 0, 0);}
}

.slideBanner {
	display: flex;
	width: 12000px;
	justify-content: space-around;
	animation: slide_animation 80s linear infinite;
	* {
		margin: 0px;
	}
}

footer {
	margin-top: 32px;
	width: 100%;
	border-radius: 8px;
	background-color: var(--aleBlue);
}

footer a {color: white;}
footer a:hover {color: var(--aleAzure);}
footer p {color: white;}
footer li {color: white;}

button {
	font-family: cpmono;
	font-size: 1em;
	width: 100%;
	margin: 4px auto;
	padding: 8px;
	background: var(--GrayGradient);
	color:white;
	border: 1px solid white;
	border-radius: 8px;
	cursor: pointer;
}

button img {
		max-height: 15px;
		max-width: 15px;
		height: 15px;
		width: 15px;
		margin-right: 8px;
	}

button:hover {
	background: var(--HotGradient);
	color: white;
}

button.default {
	background-color: var(--aleAzure);
	border: 1px solid white;
	color: white;
}

button.default:hover {
	background-color: var(--aleBlue);
	color: white;
}

button.black {
	background-color: var(--g4);
	border: 1px solid white;
	color: white;
}

button.black:hover {
	background-color: #272727;
	color: white;
}

button.selected {
	background-color: var(--alelightBlue);
	border: 1px solid white;
	color: white;
}

button.selected:hover {
	background-color: var(--aleBlue);
	color: white;
}

button.success {
	background: var(--GrayGradient);
	border: 1px solid var(--Blue);
	color: white;
}

button.success:hover {
	background: var(--SkyGradient);
}

button.warning {
	background: var(--GrayGradient);
	border: 1px solid var(--Yellow);
	color: white;
}

button.warning:hover {
	background: var(--HotGradient);
}

button.danger {
	background: var(--GrayGradient);
	border: 1px solid var(--Red);
	color: white;
}

button.danger:hover {
	background: var(--HotGradient);
	color: black;
}

button.info {
	background-color: var(--g1);
	border: 1px solid lightskyblue;
	color: lightskyblue;
}

button.info:hover {
	background-color: lightskyblue;
	color: var(--g1);
}

button.link {
	background-color: var(--g1);
	border: 1px solid var(--g10);
	color: lightskyblue;
}

button.action {
	background-color: var(--g3);
	border: 1px solid var(--g9);
	color: var(--g10);
}

button.link:hover {
	background-color: lightskyblue;
	border: 1px solid var(--g1);
	color: var(--g1);
}

table {
	table-layout: fixed;
	width: 100%;
}

th {
	font-family: gravity;
	text-align: left;
	color: var(--aleAzure);
	background-color: purple;
	padding-left: 8px;
	padding-right: 8px;
}

td {
	font-family: gravity;
	color: var(--aleAzure);
	border: 1px solid var(--g5);
	padding-left: 8px;
	padding-right: 8px;
}

ul, details {
	list-style-type: "> ";
	margin: 16px auto;
	padding: 0px;
}

.card, .blackCard {
	border-radius: 24px;
	border: 1px solid white;
	padding: 16px;
	background: var(--GrayGradient);
	color: white;
	width: 100%;
}

.bottom {
  position: relative;
  bottom: 0px;
}

/* .card {
	background-color: var(--aleBlue);
} */

.blackCard {
	background-color: var(--g4);
	border: 1px solid white;
}

/* .card:hover {
	background-color: var(--g2);
} */

.row {
	display: flex;
	flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
	.row {display: block;}
}

.col3, .col4, .col6, .col6FastCollapse, .col12 {
	padding: 8px;
}

.col12 {width: 100%;}
.col6, .col6FastCollapse {width: 50%;}
.col4 {width: 33.33%;}
.col3 {width: 25%;}

@media only screen and (max-width: 800px) {
	.col3, .col4, .col6, .col12 {width: 100%;}
}

@media only screen and (max-width: 1600px) {
	.col6FastCollapse {width: 100%;}
}

.divider {
	width: 100%;
	background-color: white;
	height: 1px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.picLarge, .picMedium, .picSmall, .picLowHeight {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 16px;
	background-color: var(--g10);
	border-radius: 8px;
  p, h1, h2, h3, h5, h6 {
    background: var(--GrayGradient);
  }
}

.picLarge {aspect-ratio: 3/3;}
.picMedium {aspect-ratio: 4/3;}
.picSmall {aspect-ratio: 5/3;}
.picLowHeight {border-radius: 0px;}

.profilePic {
	margin: 8px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	/* background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;  Centra l'immagine orizzontalmente e verticalmente 
	background-attachment: fixed; Fissa l'immagine all'interno del contenitore */
}

.profilePic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.centralLarge, .centralMedium {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: auto;
}

.centralLarge {
	width: 512px;
}

.centralMedium {
	width: 256px;
}

.labdl, .labdr, .labul, .labur {
	position: absolute;
	background-color: white;
	color: var(--g1);
	margin: 8px;
}

.labdl {bottom: 0px; left: 0px;}
.labdr {bottom: 0px; right: 0px;}
.labul {top: 0px; left: 0px;}
.labur {top: 0px; right: 0px;}

.chat {
	position: absolute;
	overflow: auto;
	top: 80px;
	right: 8px;
	left: 8px;
	bottom: 48px;
}

.chatInput {
	position: absolute;
	left: 8px;
	bottom: 12px;
	right: 80px;
}

.searchBox {
	position: relative;
	display: flex;
	padding: 8px;
}

.p1, .p2, .ball {
	border: solid white 1px;
}

.gameDashboard {
	background: var(--GrayGradient);
	position: relative; 
	width: 100%;
	height: 100%;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.field {
	background: var(--g5);
	border: 1px solid white;
	border-radius: 8px;
	position: absolute;
	object-fit: cover;
	width: 50vw;
	aspect-ratio: 3/2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media only screen and (max-width: 950px) {
	.field {width: 65vw;}
}

.p1, .p2, .paddleRight, .paddleLeft {
	position: absolute;
	height: 24%;
	width: 2%;
	top: 50%;
	transform: translate(0%, -50%);
	border-radius: 4px;
	background: var(--RomanticCentralGradient);
	border: 1px solid white;
}

.p1, .paddleLeft {
	left: 3%;
}

.p2, .paddleRight {
	right: 3%;
}

@keyframes animationLeft {
	0% {top: 30%;}
	25% {top: 20%;}
	50% {top: 65%;}
	75% {top: 80%;}
	100% {top: 30%;}
}

@keyframes animationRight {
	0% {top: 45%;}
	25% {top: 80%;}
	50% {top: 45%;}
	75% {top: 20%;}
	100% {top: 45%;}
}

.paddleLeft, .paddleRight {
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.paddleLeft{animation-name: animationLeft;}
.paddleRight{animation-name: animationRight;}

.ball, .animatedBall {
	position: absolute;
	height: 5%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	background: var(--SunnyGradient);
	border: 1px solid white;
	transform: translate(-50%, -50%);
}

@keyframes moveBallAnimation {
	0% {top: 30%; left: 7%;}
	25% {top: 80%; left: 93%;}
	50% {top: 65%; left: 7%}
	75% {top: 20%; left: 93%;}
	100% {top: 30%; left: 7%;}
}

.animatedBall {
	animation-name: moveBallAnimation;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.dashBottom, .dashTop {
	display: flex;
  justify-content: space-between;
	position: absolute;
	text-align: center;
	width: 100%;
}

.dashBottom {
	bottom: 0px;
	/* height: 8vh; */
	border-top: solid 1px;
	border-top-color: var(--neongreen);
}

.dashTop {
	top: 0px;
	/* height: 8vh; */
	border-bottom: solid 1px;
	border-bottom-color: var(--neongreen);
}

.topBar, .bottomBar {
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	text-align: center;
	width: 100%;
}

.bottomBar {
	bottom: 0px;
	/* height: 8vh; */
	border-top: solid 1px;
	border-top-color: var(--neongreen);
}

.topBar {
	top: 0px;
	/* height: 8vh; */
	border-bottom: solid 1px;
	border-bottom-color: var(--neongreen);
}

@media only screen and (min-width: 800px) {
	.topBar, .bottomBar {
		display: none;
	}
}

.idColor{
	color: grey;
}

.btn-Settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .btn-Settings img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
} */

/* test */

.HomePage {
	z-index: -1;
	background-image: url('/images/place.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; /* Centra l'immagine orizzontalmente e verticalmente */
	background-attachment: fixed; /* Fissa l'immagine all'interno del contenitore */
	width: 100%;
	height: 100%;
	position: fixed;
	left: 200px;
}
